<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

    <div id="root">


        <h2 v-if="isWhite" >Bianco</h2>
        <div v-else>Nero</div>
        

        <select name="" id="" v-model="type">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="Altro">Altro</option>
        </select>

        <div v-if="type === 'A'">
            Sono A
        </div>
        <div v-else-if="type === 'B'">
            Sono B
        </div>
        <div v-else>
            Sono qualcos'altro
        </div>

        <h1 v-show="showMe">Eccomi</h1>

    </div>
    
    <script src="js/script.js"></script>
</body>
</html>