<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

    <div id="root">

        <div>
            <input type="text" id="marca" placeholder="marca" v-model="newMarca">
            <input type="text" id="modello" placeholder="modello" v-model="newModello">
            <input type="text" id="colore" placeholder="colore" v-model="newColore">

            <div>
                <button @click="addCar">Aggiungi</button>
            </div>
        </div>

        <ul>
            <li v-for="item in cars">
                <h2>{{ item.marca }} {{ item.modello }}</h2>
                <p>Colore: {{ item.colore }}</p>
            </li>
        </ul>

    </div>
    
    <script src="js/script.js"></script>
</body>
</html>