* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header-top {
    font-family: 'Acme', sans-serif;
    color: rgb(41, 177, 221);;
    padding: 10px;
}

.header-bottom {
    background-color: rgb(41, 177, 221);
    color: white;
    padding: 10px;
}

.logo h1 {
    font-size: 50px;
    font-weight: normal;
}

.search {
    text-align: center;
}

.search h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    vertical-align: middle;
}

#type-filter {
    vertical-align: middle;
}

main {
    padding: 40px 0;
}

#icons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box {
    flex-basis: calc(20% - 40px);
    margin: 20px;
    padding: 20px;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    text-align: center;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0, 0.5));
}

.box i {
    font-size: 200%;
    margin-bottom: 10px;
}